[defaults]
inventory = /etc/ansible/hosts
host_key_checking=false
command_warnings=false
remote_user=ec2-user
ask_pass=false
interpreter_python= /usr/bin/python
roles_path=/path/of/the/roles


[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false
